<link rel="stylesheet" href="~/css/agenda2.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<fieldset id="fieldset-agenda" class="overflow-auto">
    <button type="button" id="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h1 class="p-fixed">Agenda</h1>
    <div id="dados">
        <p>10/10/1000 10:10 - Evento 1</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, esse molestiae facilis voluptas, maiores
            ducimus officiis, numquam ipsam placeat odio aliquid expedita quis sint? Vel atque eos alias molestias?
            Saepe?</p>
    </div>
    <div id="dados">
        <p>10/10/1000 10:10 - Evento 1</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, esse molestiae facilis voluptas, maiores
            ducimus officiis, numquam ipsam placeat odio aliquid expedita quis sint? Vel atque eos alias molestias?
            Saepe?</p>
    </div>
    <div id="dados">
        <p>10/10/1000 10:10 - Evento 1</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, esse molestiae facilis voluptas, maiores
            ducimus officiis, numquam ipsam placeat odio aliquid expedita quis sint? Vel atque eos alias molestias?
            Saepe?</p>
    </div>
    <div id="dados">
        <p>10/10/1000 10:10 - Evento 1</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, esse molestiae facilis voluptas, maiores
            ducimus officiis, numquam ipsam placeat odio aliquid expedita quis sint? Vel atque eos alias molestias?
            Saepe?</p>
    </div>
</fieldset>