<link rel="stylesheet" href="~/css/apoiadores.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<fieldset id="fieldset-apoiadores" class="overflow-auto">
    <div id="set">
        <button type="button" id="button2" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h1>Apoiadores</h1>
        <div id="apoiador">
            <img src="~/images/empresa.jpg" id="empresa" alt="apoiador">
            <article id="descricao">
                <h2 class="h2">Empresa 1</h2>
                <p>descrição</p>
            </article>
        </div>
        <div id="apoiador">
            <img src="~/images/empresa.jpg" id="empresa" alt="apoiador">
            <article id="descricao">
                <h2>Empresa 1</h2>
                <p>descrição</p>
            </article>
        </div>
        <div id="apoiador">
            <img src="~/images/empresa.jpg" id="empresa" alt="apoiador">
            <article id="descricao">
                <h2>Empresa 1</h2>
                <p>descrição</p>
            </article>
        </div>
        <div id="apoiador">
            <img src="~/images/empresa.jpg" id="empresa" alt="apoiador">
            <article id="descricao">
                <h2>Empresa 1</h2>
                <p>descrição</p>
            </article>
        </div>
    </div>
</fieldset>