<link rel="stylesheet" href="~/css/dicas.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<fieldset id="fieldset-dicas" class="overflow-auto">
    <button type="button" id="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h1>Dicas de vida saudável</h1>
    <div id="dicas">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque blanditiis quae porro tenetur repellat natus nesciunt eos! Nihil quod minima ut suscipit sint voluptatum, corrupti hic quibusdam praesentium voluptatem ab?</p>
    </div>
     <div id="dicas">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque blanditiis quae porro tenetur repellat natus nesciunt eos! Nihil quod minima ut suscipit sint voluptatum, corrupti hic quibusdam praesentium voluptatem ab?</p>
    </div>
     <div id="dicas">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque blanditiis quae porro tenetur repellat natus nesciunt eos! Nihil quod minima ut suscipit sint voluptatum, corrupti hic quibusdam praesentium voluptatem ab?</p>
    </div>
     <div id="dicas">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque blanditiis quae porro tenetur repellat natus nesciunt eos! Nihil quod minima ut suscipit sint voluptatum, corrupti hic quibusdam praesentium voluptatem ab?</p>
    </div>
</fieldset>