@model Interesse
@{
    ViewData["Title"] = "Hotsite";
}
<link rel="stylesheet" href="~/css/index2.css">
<section class="col-sm-5 w-50">
    <h1>Iniciativa Saúde da Cidade</h1>
    <p>
        Texto sobre vida saudável: Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae legendos at
        vix ad putent delectus delicata usu. Vidit dissentiet eos cu eum an brute copiosae hendrerit.
    </p>
    <p>
        Texto sobre vida iniciativa: Lorem ipsum dolor sit amet et delectus accommodare his consul copiosae legendos at
        vix ad putent delectus delicata usu. Vidit dissentiet eos cu eum an brute copiosae hendrerit.
    </p>
</section>

<fieldset class="col-sm-5 pb-2">
    <h2>Entre em contato!</h2>
    <p>Nos mande uma mensagem e fique por dentro de nossos eventos</p>

    <form action="/Home/Cadastrar" class="form-horizontal" method="POST">
        <div class="form-group">
            <label asp-for="Nome">Nome:</label>
            <input asp-for="Nome" class="form-control" placeholder="Digite seu nome aqui"/>
        </div>
        <div class="form-group">
            <label asp-for="Email">Email:</label>
            <input asp-for="Email" class="form-control" placeholder="Digite seu email aqui" />
        </div>
        <div class="form-group">
            <label asp-for="Mensagem">Mensagem (opcional):</label>
            <textarea asp-for="Mensagem" class="form-control" placeholder="Digite sua mensagem aqui"></textarea>
        </div>
        <div class="d-flex">
            <input type="submit" class="btn btn-primary" value="Enviar" />
        </div>
    </form>
</fieldset>


<section class="rounded" id="img-link">
    <div>
        <img src="~/images/plano-de-saude.jpg" alt="plano-de-saude" id="img-main" class="rounded img-fluid">
    </div>
    <div id="div-links">
        <div class="d-flex flex-column" id="div-agenda">
            <img src="~/images/agenda-de-eventos.png" alt="agenda-de-eventos" id="agenda" class="rounded img-fluid mt-1">
            <a href="#">Agenda de eventos</a>
        </div>
        <div class="d-flex flex-column" id="div-dicas">
            <img src="~/images/vida-saudavel.jpg" alt="dicas-de-vida-saudavel" id="dicas" class="rounded img-fluid">
            <a href="#">Dicas de vida saudável</a>
        </div>
        <div class="d-flex flex-column" id="div-apoiadores">
            <img src="~/images/apoiadores.jpg" alt="apoiadores" id="apoiadores" class="rounded img-fluid">
            <a href="#">Apoiadores</a>
        </div>
    </div>
</section>