*{
    font-family: 'Poppins', sans-serif;
}
#button{
    position: absolute;
    right: 0em;
}
#fieldset-agenda{
    position: fixed;
    left: 10%;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 20px;
    text-align: center;
    margin: auto;
    width: 75%;
    max-height: 85vh;
    border: solid 1px black;
    z-index: 1;
    background: white;
} 
#set{
    width: 100%;
    background: white;
    padding-bottom: 1em;
}
#dados{
    text-align: left;
    margin: 2em auto;
    width:50%;
    background-color: white;
}
@media (min-width:700px){
    #fieldset-agenda{
        width: 50%;
        left: 25%;
    }
}