*{
    font-family: 'Poppins', sans-serif;
}
#button{
    position: absolute;
    right: 0em;
}
#fieldset-dicas{
    left: 10%;
    position: fixed;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 20px;
    text-align: center;
    margin: auto;
    margin-top: 2em;
    width: 75%;
    max-height: 90vh;
    border: solid 1px black;
}
#dicas{
    display: flex;
    text-align: left;
    margin: 2em auto;
    width:80%;
}
@media (min-width:700px){
    #fieldset-dicas{
        width: 50%;
        left: 25%;
    }
    #dicas{
        width: 60%;
    }
}